.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: min(16px, calc((12 / 320) * 100vw));
  width: min(1184px, calc((1184 / 1280) * 100vw));
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    width: 93.75vw;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 544px) {
  .photo-grid {
    width: 90vw;
    grid-template-columns: repeat(1, 1fr);
  }
}
