.cover {
  height: min(740px, calc((740 / 768) * 100vw));
  margin: min(92px, 20vw) auto min(92px, 20vw);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 544px) {
  .cover {
    height: calc((254 / 320) * 100vw);
  }
}
