.place {
  display: grid;
  grid-template-columns:
    min(460px, calc((340 / 768) * 100vw))
    min(484px, calc((352 / 768) * 100vw));
  grid-template-rows:
    minmax(min(76px, calc((46 / 768) * 100vw)), auto)
    min(460px, calc((340 / 768) * 100vw))
    minmax(min(48px, calc((48 / 768) * 100vw)), auto);
  grid-template-areas:
    "title website"
    "image paragraphs"
    "buy-button paragraphs";
  grid-gap: 48px min(40px, calc((28 / 768) * 100vw));
  margin: min(80px, calc((72 / 768) * 100vw)) auto;
  width: min(984px, calc((720 / 768) * 100vw));
}

@media screen and (max-width: 544px) {
  .place {
    grid-template-columns: 100vw;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "title"
      "website"
      "image"
      "paragraphs"
      "buy-button";
    grid-gap: 30px;
    margin: 50px 0;
    width: 100vw;
  }
}
