.intro__title {
  width: min(1017px, 93.75vw); /* Trying to make this more responsive */
  margin: 0;
  font-weight: 900;
  font-size: min(54px, calc((32 / 320) * 100vw));
  line-height: min(58px, calc((35 / 320) * 100vw));
}
